<div class="wrapp">

    <div class="container1">
        <div class="card">
            <img src="/assets/images/lima.png">
            <h1 class="text1">Lima, Peru</h1>
        </div>

        <div class="card">
            <img src="/assets/images/bariloche.jpg">
            <h1 class="text1">Bariloche, Argentina</h1>
        </div>
    </div>

    <div class="container2">
        <div class="card">
            <img src="/assets/images/valparaiso.jpeg" alt="image">
            <h2 class="text2">Valparaiso, Chile</h2>
        </div>

        <div class="card">
            <img src="/assets/images/rio.jpg">
            <h2 class="text2">Rio de Janeiro, Brasil</h2>
        </div>

        <div class="card">
            <img src="/assets/images/montevideo.jpg">
            <h2 class="text2">Montevideo, Uruguay</h2>
        </div>

</div>
