<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />

<div>
    <nav id="mySidenav" class="sidenav">
        <a href="#" class="material-symbols-outlined">
            menu
            </a>
        <a href="#" class="material-symbols-outlined">
            account_circle
            </a>
        <a href="#" class="material-symbols-outlined">
            star
            </a>
        <a href="#" class="material-symbols-outlined">
            settings
            </a>
        <a href="#" class="material-symbols-outlined">
            help
        </a>
        
    </nav>

</div>




